@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f9fb;

  margin: auto;
}
