@import url(../../vendor/normalize.css);
@import url(../../vendor/fonts/fonts.css);

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
  background-color: #f7f9fb;
}

.App {
  height: 100vh;
  width: 95%;

  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: #f7f9fb;

  margin: auto;
}
