.footer {
  width: 95vw;
  display: flex;
  justify-content: space-between;

  padding: 5vh 0 2vh 0;
  margin: 0 auto;
}

.footer__link {
  font-weight: 600;
  color: #1da1f2;
  text-decoration: none;

  cursor: pointer;

  margin: 0;
}

.footer__link_dark {
  color: rgb(235, 212, 50);
}
