.popup {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
  -o-transition: opacity 0.3s ease-in, visibility 0.3s ease-out;
}

.popup_enable {
  visibility: visible;
  opacity: 1;
}

.popup__image {
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-full {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image-title {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #ffffff;

  margin: 10px 0 0 0;
}

.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;

  width: 32px;
  height: 32px;

  background-image: url(../../images/popup__close.svg);
  background-size: contain;
  background-color: transparent;
  border: 0;

  cursor: pointer;

  margin: 0;
  padding: 0;
}

.popup__close:hover {
  opacity: 0.6;
  transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;

    top: -36px;
    right: 0px;
  }
}
