.header {
  width: 95vw;
  padding: 5vh 0 5vh 0;

  margin: 0 auto;
}

.header__links {
  display: flex;
  justify-content: space-between;

  margin: 0;
}

.header__link {
  margin: 0;
}

.header__link-title {
  position: relative;
  font-family: "Exo", sans-serif;
  font-size: 2vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.header__link-subline {
  display: none;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(
    219deg,
    var(--color-1) 19%,
    transparent 19%,
    transparent 20%,
    var(--color-2) 20%,
    var(--color-2) 39%,
    transparent 39%,
    transparent 40%,
    var(--color-3) 40%,
    var(--color-3) 59%,
    transparent 59%,
    transparent 60%,
    var(--color-4) 60%,
    var(--color-4) 79%,
    transparent 79%,
    transparent 80%,
    var(--color-5) 80%
  );
}

@media screen and (max-width: 500px) {
  .header {
    padding: 2vh 0 2vh 0;
  }

  .header__links {
    display: grid;
    justify-content: center;
    justify-items: center;
    row-gap: 20px;
  }

  .header__link {
    text-align: center;
  }

  .header__link-title {
    font-size: 7vw;
    margin: 0;
  }
}
